# Dependencies
node_modules/

# Build output
dist/

# Capacitor
android/
ios/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Local env
.env.local
.env.*.local
